/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";
html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
}

#recipiente{
    width: 800px;
    margin: 0 auto;
    background-image: linear-gradient(135deg, rgba(246,241,178,1) 0%, rgba(69,153,178,1) 100%);
}
#cabecalho {
    text-align: right;
    right: 45px;
    position: relative;
    
}
#cabecalho h1{
    margin: 0; padding: 20px 0 0 0;
    font-size: 36px;
    font-family: 'Ravie';
    color: #f90c0c;

}

#cabecalho h2{
    margin: 0; padding: 0;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
}

.roxo{
    color: #d027aa;
}

#cardapio {
    width: 646px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    border: solid, 1px, #3a3f3b;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
}

#cardapio h3{
    font-size: 18px;
    font-style: oblique;
}

#ticket{
    position: absolute;
    top: 295px;
    left: -69px;
    transition: all 200ms ease;
}

#ticket:hover{
    left: 0px;
}